esphome:
  name: esp-temp-2

esp8266:
  board: esp01_1m

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  power_save_mode: none

logger:

api:

ota:
  - platform: esphome

sensor:
  - platform: dht
    pin: GPIO2
    model: DHT11
    temperature:
      name: "ESP Temp 2 Temperatura"
    humidity:
      name: "ESP Temp 2 Umidade"
    update_interval: 60s
