esphome:
  name: esp-rele-1

esp8266:
  board: esp01_1m

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  power_save_mode: none

logger:

api:

ota:
  - platform: esphome

switch:
  - platform: gpio
    name: "ESP Rele 1"
    pin:
      number: GPIO0
      inverted: true
    restore_mode: ALWAYS_OFF
